@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

.hero4
{
    background-color: white;
    width: 100%;
    height: 200vh;
}

.hero4 .nadpis
{
    background-color: #F6F6F6;
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 580%;
}

.hero4 .nadpis h1
{
    color: #27323E;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 7%;
}

span
{
    color: #63B0CD;
}

.hero4 .icons
{
    position: absolute;
    top: 630%;
    left: 7%;
}

.hero4 .icons .phone-icon
{
    margin-bottom: 50px;
}

.hero4 .icons .mail-icon
{
    margin-bottom: 50px;
}

.hero4 .icons .location-icon
{
    margin-bottom: 50px;
}

.hero4 .text-icons
{
    position: absolute;
    top: 630%;
    left: 20%;
    font-family: 'Lalezar', system-ui;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.hero4 .text-icons .phone-text
{
    margin-bottom: 100px;
    color: #27323E;
}

.hero4 .text-icons .mail-text
{
    margin-bottom: 100px;
    color: #27323E;
}

.hero4 .text-icons .location-text
{
    margin-bottom: 100px;
    color: #27323E;
}

.hero4 .text-icons a
{
    text-decoration: none;
    color: #27323E;
}

.hero4 .obrazek_contact
{
    transform: scaleX(-1);
    width: 965px;
    height: 733px;
    flex-shrink: 0;
    border-radius: 59px;
    position: absolute;
    top: 630%;
    right: 7%;
}

.hero4 .contactme-btn
{
    display: inline-block;
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    width: 290px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 59px;
    background: #F6F6F6;
    color: black;
    position: absolute;
    left: 42%;
    top: 690%;
}

.hero4 .contactme-btn:hover
{
    background-color: #27323E;
    color: white;
}

.paticka
{
    width: 100%;
    height: 20vh;
    background-color: #F6F6F6;
}

.paticka h1
{
    text-align: center;
    margin-top: 4%;
    color: #27323E;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}