ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Barva pozadí navigačního menu */
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Styl pro odkazy po najetí myši */
li a:hover {
    background-color: #111; /* Barva pozadí při najetí myši */
}
