@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:wght@500;800&display=swap');

.hero
{
    background-color: #27323E;
    width: 100%;
    height: 100vh;
}

.homepage .jmeno
{
    margin-left: 15%;
    padding-top: 10%;
}

.homepage h1
{
    color: #FFF;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.homepage .jmeno p
{
    padding-top: 3%;
    font-family: "Times New Roman";
    font-weight: lighter;
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
}

.obrazek_home img
{
    width: 450px;
    height: 600px;
    flex-shrink: 0;
    margin-left: 60%;
    margin-top: 0;
    position: absolute;
    top: 25%;
}

.tlacitko
{
    width: 44.973px;
    height: 77px;
    flex-shrink: 0;
}